:root{
    --back_principal: blueviolet;
    --back_secundario: white;
    --bordas: rgba(131, 123, 148, 0.529);
    --text_principal:rgb(73, 31, 112);
    --text_secundario: black;
    --text_sociais: white;
    --text_p: rgb(48, 46, 46);
    --back_footer: rgb(60, 9, 102);
    --linha: gray;
    --label: rgb(37, 1, 70);
}


html, body, figure, img, div, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main, nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    
    padding: 0 0 20px;
    
}

.linha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Coluna{
    flex-basis: 48%;
    color: var(--text_principal);
}

.hidden{
    display: none;
}



/*BODY*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*HEADER*/
header{
    background-color: var(--back_principal);
    padding: 30px 30px 0;
}
header .container{
    background-color: var(--back_secundario);
    
}
header .linha{
    align-items: center;
}
s
header .coluna-esquerda{
    flex-basis: 20%;
}

header .Coluna img{
    width: 260px;
    height: 260px;
    max-width: 100%;
    border-radius: 0px;
}
header .Coluna h1{
    font-size: 1.5rem;
}
header .Coluna p{
    font-size: 0.8rem;
    color: var(--text_p);
} 
header .Coluna ul{
    margin: 16px 0px 0px;
}
header .Coluna ul li{
    font-size: 0.9rem;
    padding-bottom: 10px;
}
header .Coluna ul li a{
    font-size: 0.9rem;
    color: var(--text_secundario);
    cursor: pointer;
}
header .coluna-direita{
    flex-basis: 63%;
}


/*FOOTER*/
footer{
    background-color: var(--back_footer);
}

footer .linha{
    border-bottom: 1px solid var(--linha);
    margin: 0 0 50px;
}

footer  ul li{
    color: var(--text_sociais);
    font-size: 0.9rem;
    padding: 0.5rem;
    
}
footer  ul li a{
    color: var(--text_sociais);
    font-size: 0.8rem;
}
footer nav .Sociais{

}


/*PÃGINA INICIAL*/


main .Coluna{
    padding-left: 30px;
    padding-right: 30px;
    
}

main .Coluna section{
    border-top: 1px solid var(--bordas);
    margin: -1px 0 15px;
    
    
}
main .Coluna section h2{
    font-size: 1.2rem;
    margin: 15px 0 15px;
    
}
main .Coluna section p{
    font-size: 1rem;
    color: var(--text_p);
    
}

main .Coluna section ul li{
    margin: 0 0 10px;
    color: var(--text_secundario);
    
}
main .Coluna section ul li h3{
    font-size: 1rem;
    margin: 0 0 1px;
    color: var(--text_secundario);
}
main .Coluna section ul li h3 strong{
    font-size: 1rem;
    font-weight: 300px;
    
}
main .Coluna section ul li h3 p{
    
}
main .container{
    box-shadow: black 0px 0px 20px;
}


main .Trabalhos h1{

    margin: auto;
    text-align: center;
    margin-top: 100px;
    color: var(--text_principal);
    font-size: 1.5rem;
    
    
    
}
main .Trabalhos h2{
    color: var(--text_secundario);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
}

main .Trabalhos section{
    border-top: 3px solid var(--bordas);
    
}


main .Trabalhos img{
        width: auto;
        height: auto;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        wrap: wrap;
        align-items: start;;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        flex-basis: 30%;
        
    }


    /*Imagem 1 -> zoom*/
main .img_1{
    overflow: hidden;
    cursor: pointer;
}

main .img_1 img{
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

main .img_1:hover img{ 

    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

    /*Imagem 2 -> Zoom*/
    main .img_2{
        overflow: hidden;
        cursor: pointer;
    }
    
    main .img_2 img{
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    main .img_2:hover img{ 
    
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        
    }
    /*Imagem 3 -> Zoom*/
    main .img_3{
        overflow: hidden;
        cursor: pointer;
    }
    
    main .img_3 img{
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    main .img_3:hover img{ 
    
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    /*Imagem 4 -> Zoom*/
    main .img_4{
        overflow: hidden;
        cursor: pointer;
    }
    
    main .img_4 img{
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    main .img_4:hover img{ 
    
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
  

/*EXTRAS*/
input{
    width: 40px;
    height: 40px;
    display: none;
}

header .container{
    position: relative;
}

label{
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 40px;
    width: 44px;
    height: 22px;
    background-color: var(--label);
}

label samp{
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 100%;
    background-color: var(--back_principal);
    position: absolute;
    left: 5px;
    top: 3px;
    transition: all ease .3s;
}

.dark-on:checked ~ .dark-mode{ 
    --back_principal: rgb(39, 19, 58);
    --back_secundario: black;
    --text_principal:rgb(200, 161, 233);
    --text_secundario: white;
    --text_p: rgb(179, 174, 174);
    --label: rgb(255, 255, 255);
}

.dark-on:checked ~ .dark-mode label samp{
    transform: translateX(20px);
    transition: all ease .3s;
}

.dark-on:checked ~ .dark-mode header{
    background-color: black;
}

.dark-on:checked ~ .dark-mode header .container{
    background-color: rgb(26, 25, 25);
}

.dark-on:checked ~ .dark-mode main{
    background-color: black;
}

.dark-on:checked ~ .dark-mode main .container{
    background-color: rgb(26, 25, 25);
}

.dark-on:checked ~ .dark-mode footer{
    background-color: black;
}

.dark-on:checked ~  .dark-mode footer .container{
    background-color: rgb(26, 25, 25);
}

@keyframes aumentar_largura{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}
@keyframes aumentar_altura{
    from{
        height: 0;
    }

    to{
        height: 100%;
    }
}


/*MEDIA*/
@media only screen and (min-width: 768px){
    .linha{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }    

    header .coluna-direita{
        flex-basis: 61%;
    }

    header{
        padding: 30px 0 0;
    }

    
    header .Coluna img{
        border-radius: 100%;
        max-width: 250px;
    }

    header .coluna-esquerda{
        flex-basis: 30%;
    }

    label{
        border-radius: 24px;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 40px;
        width: 44px;
        height: 22px;
        background-color: var(--text_secundario);
    }
    
    label samp{
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 100%;
        background-color: var(--back_principal);
        position: absolute;
        left: 5px;
        top: 3px;
        transition: all ease .3s;
    }

    .container{
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
        padding: 30px;
        
    }
    main .Coluna section{
        border: 2px solid transparent;
        padding: 20px;
        position: relative;
    }
    main .Coluna section span{
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 2px solid transparent;
    }
    main .Coluna section .cima-direita{
            top: -4px;
            left: -3px;
            animation-name: aumentar_largura, aumentar_altura;
            animation-duration: 1s, 1s;
            animation-delay: 2s, 3s;
            animation-fill-mode: forwards;
            border-top-color: var(--bordas);
            border-right-color: var(--bordas);
    }
    main .Coluna section .baixo-esquerda{
            bottom: -1px;
            right: -2px;
            animation-name: aumentar_largura, aumentar_altura;
            animation-duration: 1s, 1s;
            animation-delay: 4s, 5s;
            animation-fill-mode: forwards;
            border-bottom-color: var(--bordas);
            border-left-color: var(--bordas);
    }

    main .Coluna{
        padding: 0%;
    }

    main .Coluna section h2{

        margin: 0 0 15px;
        
    }
}

@media only screen and (min-width: 950px){
    header .coluna-direita{
        flex-basis: 69%;
       
    }

    header .coluna-esquerda{
        flex-basis: 30%;
    }
}